<div class="quizzselection_title">
</div>
<div class="quizzselection_container">
    <div *ngFor="let quizzitem of this.quizzservice.currentquizzselection" class="quizzselection_item" (click)="chosequizz(quizzitem.quizzid)">
        <div class="quizzselection_iconcontainer">
            <i class="{{quizzitem.iconclass}}"></i>
        </div>
        <div>{{quizzitem.caption}}</div>
        <div>{{quizzitem.conditionvisible}}</div>
    </div>
    <div class="quizzselection_aftercontainer">
    </div>
</div>

<div #descriptionpanel [hidden]="descriptionpanelhidden" class="descriptionpanel">
    <div class="quizzselection_description">
        {{ quizzdescription }}
    </div>
    <div class="ldb_elementsinglebutton">
        <button class="btn ldb_btn ldb_btn_lightgreen" (click)="gotodestinationquizz()">On y va !</button>
    </div>
    <div class="ldb_elementsinglebutton">
        <button class="btn ldb_btn ldb_btn_lightred" (click)="descriptionpanelhidden=!descriptionpanelhidden">Non, merci.</button>
    </div>
</div>