<div class="ldb_elementbackground">
    <div class="ldb_elementtextbold ldb_elementtext">
        Vous souhaitez changer de métier ?
    </div>
    <div class="ldb_elementtextregular ldb_elementtext">
        La rencontre Déclic en 5 étapes :
    </div>
    <table class="ldb_table_separation_3 ldb_table_center minwidthmobiletable">
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">1</a>
            </td>
            <td>
                <a [routerLink]="" (click)="showdisplay('jefaislepoint')" class="btn ldb_btn ldb_btn_primary">Je fais le point sur mon projet<br/>de reconversion professionnelle.</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">2</a>
            </td>
            <td>
                <a [routerLink]="" (click)="showdisplay('jeprendsrendezvous')" class="btn ldb_btn ldb_btn_primary">Je contacte une personne<br/>qui a déjà changé de métier.</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">3</a>
            </td>
            <td>
                <a [routerLink]="" (click)="showdisplay('jepreparemarencontre')" class="btn ldb_btn  ldb_btn_primary">Je prépare ma rencontre<br/>avec un témoin.</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">4</a>
            </td>
            <td>
                <a [routerLink]="" (click)="showdisplay('jefaislesuivi')" class="btn ldb_btn  ldb_btn_primary">Je fais le suivi de ma rencontre.</a>
            </td>
        </tr>
    </table>
</div>

<p-dialog class="ldbway" [responsive]="true" header="Je fais le point sur ma reconversion professionnelle" [(visible)]="elementstobedisplayed['jefaislepoint']">
    Je fais le point!
</p-dialog>

<p-dialog class="ldbway" [responsive]="true" header="Je prends rendez-vous" [(visible)]="elementstobedisplayed['jeprendsrendezvous']">
    Je prends rendez-vous!
</p-dialog>

<p-dialog class="ldbway" [responsive]="true" header="Je prépare ma rencontre" [(visible)]="elementstobedisplayed['jepreparemarencontre']">
   Je prépare ma rencontre!
</p-dialog>

<p-dialog class="ldbway" [responsive]="true" header="Je fais le suivi" [(visible)]="elementstobedisplayed['jefaislesuivi']">
    Je fais le suivi!
</p-dialog>

