<div class="ldb_elementbackground">
    <div class="ldb_elementtitlebold">
        Vous souhaitez changer de métier ?
    </div>
    <div class="ldb_elementtextregular">
        La rencontre Déclic en 5 étapes :
    </div>
    <table class="ldb_table_separation_3 ldb_table_center minwidthmobiletable">
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">1</a>
            </td>
            <td>
                <a href="" class="btn ldb_btn ldb_btn_primary">Je fais le point sur mon projet<br/>de reconversion professionnelle.</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">2</a>
            </td>
            <td>
                <a href="" class="btn ldb_btn ldb_btn_primary">Je contacte une personne<br/>qui a déjà changé de métier.</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">3</a>
            </td>
            <td>
                <a href="" class="btn ldb_btn  ldb_btn_primary">Je prépare ma rencontre<br/>avec un témoin.</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">4</a>
            </td>
            <td>
                <a href="" class="btn ldb_btn  ldb_btn_primary">Je fais le suivi de ma rencontre.</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-circle-sm ldb_btn_white ">5</a>
            </td>
            <td>
                <a href="" class="btn ldb_btn ldb_btn_primary">Je deviens un pro de la rencontre.</a>
            </td>
        </tr>
    </table>
</div>

