<div class="ldb_elementbackground">
    <div class="ldb_elementtextbold ldb_elementtext">
        Avant de rencontrer votre témoin, je fais le point sur mon projet de reconversion en 8 étapes : 
    </div>
    <table class="ldb_table_separation_3 ldb_table_center minwidthmobiletable">
        <tr *ngFor="let items of this.navigationservice.jefaislepointitems">
            <td><i [routerLink]="['/beneficiaire/jeconsultemonbilan/'+items.formodule]" [class]="items.iclass"  [pTooltip]="items.tooltip"></i></td>
            <td><a [routerLink]="items.route" [class]="items.aclass" [pTooltip]="items.tooltip">{{ items.atext }}</a></td>
        </tr>
    </table>
</div>
<div *ngIf="this.navigationservice.jefaislepointnexttask.item.route!==undefined" class="ldb_elementbackground">
    <div class="ldb_elementtextbold ldb_elementtext">
        {{ this.navigationservice.jefaislepointnexttask.title}}
    </div>
    <div class="ldb_elementsinglebutton">
        <a [routerLink]="this.navigationservice.jefaislepointnexttask.item.route" [class]="this.navigationservice.jefaislepointnexttask.item.aclass" [pTooltip]="this.navigationservice.jefaislepointnexttask.item.tooltip">{{ this.navigationservice.jefaislepointnexttask.item.atext }}</a>
    </div>
</div>
