<div *ngIf="this.dbuserinfoservice.userinfo.experience.modulejefaislepoint!=='done'">
    <div class="ldb_elementbackground">
        <div class="ldb_elementtextbold ldb_elementtext">
            Je n'ai pas encore terminé 
            <br>
            le module "faire le point".
            <br>
            Je ne peux donc pas encore prendre contact avec un grand témoin. 
        </div>
        <div class="ldb_elementtextsmall ldb_elementtext">
            <p>Les grands témoins Lunchtime mettent volontairement leur temps à disposition des utilisateurs.</p>
            <p>Pour valoriser leur temps précieux, Lunchtime vous propose de préparer au mieux votre rencontre avec un grand témoin.</p>
            <p>Lunchtime vous offre de nombreux outils pour avancer un maximum sur votre projet avant même de solliciter un grand témoin.</p>
        </div>
    </div>    
    <div class="ldb_elementbackground">
        <div class="ldb_elementtextbold ldb_elementtext">
            Terminer le module "faire le point"
        </div>
        <div class="ldb_elementsinglebutton">
            <a class="btn ldb_btn_small ldb_btn_primary" [routerLink]="['/beneficiaire/jefaislepoint']">Je fais le point sur mon projet</a>
        </div>
    </div>    
</div>

<div *ngIf="this.dbuserinfoservice.userinfo.experience.modulejefaislepoint==='done'">
    <div class="ldb_elementbackground">
        <div *ngIf="(this.bilanservice.bilan_disqualify.annihilates.beneficiaire.length + this.bilanservice.bilan_disqualify.annihilates.temoin.length)>0">
            <app-bilandisqualify></app-bilandisqualify>
        </div>
        <div *ngIf="(this.bilanservice.bilan_disqualify.annihilates.beneficiaire.length + this.bilanservice.bilan_disqualify.annihilates.temoin.length)===0">
            <app-bilantemoin></app-bilantemoin>
        </div>
    </div>
    <div class="ldb_elementbackground">
        <div class="ldb_elementtextbold ldb_elementtext">
            <a (click)="this.meetingservice.tryme_createnew()" class="btn ldb_btn_small ldb_btn_primary">create new</a>
        </div>
    </div>
    <div class="ldb_elementbackground">
        <div class="ldb_elementtextbold ldb_elementtext">
            Je prends contact :
        </div>
        <div *ngIf="this.meetingservice.meetings.countbystep.invitationsent<this.meetingservice.meetingparameters.maxinvitations" class="ldb_elementsinglebutton">
            <a class="btn ldb_btn_small ldb_btn_primary">J'invite quelqu'un à devenir témoin</a>
        </div>
        <div *ngIf="this.meetingservice.meetings.countbystep.invitationsent>=this.meetingservice.meetingparameters.maxinvitations" class="ldb_elementsinglebutton">
            <div class="ldb_elementtextred ldb_elementtextsmall">
                J'ai atteint le maximum d'invitations à envoyer. Je dois attendre la confirmation d'un témoin ou l'expiration d'une invitation.
            </div>
        </div>
        <div class="ldb_elementsinglebutton">
            <a class="btn ldb_btn_small ldb_btn_primary">Je contacte un témoin Lunchtime</a>
        </div>
    </div>
    <div class="ldb_elementbackground">
        <div class="ldb_elementtextbold ldb_elementtext">
            J'ai {{this.meetingservice.meetings.countbystep.preparationbeneficiaire}} {{this.commonservice.singulierpluriel(this.meetingservice.meetings.countbystep.preparationbeneficiaire,"rencontre","rencontres")}} à préparer :
        </div>
        <div class="ldb_elementsinglebutton">
            <a class="btn ldb_btn_small ldb_btn_primary">Je prépare ma rencontre</a>
        </div>
    </div>
    <div class="ldb_elementbackground">
        <div class="ldb_elementtextbold ldb_elementtext">
            J'ai {{this.meetingservice.meetings.countbystep.invitationsent}} {{this.commonservice.singulierpluriel(this.meetingservice.meetings.countbystep.invitationsent,"invitation","invitations")}} en cours :
        </div>
        <div class="ldb_elementsinglebutton">
            <a class="btn ldb_btn_small ldb_btn_primary">Je consulte mes invitations</a>
        </div>
    </div>
</div>