<div class="maxwidthmobile">
    <div class="maxwidthmobile" >
        <sc-card
        *ngFor="let swipecard of swipecards;let i = index;"
        [callDestroy]="swipecard.destroyEvent"
        [orientation]="orientation"
        (onRelease)="onRelease($event)"
        (onSwipe)="onSwipe($event)"
        (onAbort)="onAbort($event)"
        [tinder-card]="overlay"
        [callLike]="swipecard.likeEvent"
        (onLike)="onCardLike($event)"
        class="swipecardcontainer"
        >
        <div [class]="swipecard.backgroundclass" adapwidthtowindowwidth="0.9" adaptheighttowindowwidth="1.2">
            <div class="profile_swipecardoverlay">
                <img class="profile_image" [src]="swipecard.image" alt="mounghous" [height]="automaticheight" [width]="automaticwidth">
                <div class="profile_namecaption">{{swipecard.caption}}</div>
            </div>
        </div>
    </sc-card>
    
</div>
</div>
<div class="swipecardbuttoncontainer" [hidden]="swipecardbuttoncontainerhidden">
    <div class="swipecardbuttonleft swipecardbutton" (click)="like(false)"> &#10094; NON </div>
    <div class="swipecardbuttonright swipecardbutton" (click)="like(true)"> OUI &#10095;</div>
</div>
