<div class="ldb_elementbackground">
    <table>
        <tr><td class="afairesoimeme"><img [src]=beneficiaireurl></td><td class="afaireavecuntemoin"><img [src]=temoinurl></td></tr>
        <tr><td class="afairesoimeme">A faire moi-même</td><td class="afaireavecuntemoin">A faire avec un témoin</td></tr>
    </table>
    <div *ngFor="let items of this.navigationservice.jefaislepointitems">
        <div class="jeconsultemonbilan_container">
            <p-progressBar class="jeconsultemonbilan_absolute jeconsultemonbilan_behind jeconsultemonbilan"
            [showValue]="false" 
            [value]="60">
            </p-progressBar>
            <div (click)="activatemodule(items.formodule)" class="jeconsultemonbilan_absolute jeconsultemonbilan_infront">{{items.atext}}</div>
            <div *ngIf="this.currentmodule!=items.formodule" class="jeconsultemonbilan_freebutton"></div>
        </div>
        <div *ngIf="this.currentmodule==items.formodule" class="jeconsultemonbilan_message">
            <div *ngFor="let bilanitem of this.bilanservice.bilanitemrepository_filtered">
                <div class="col-xs-2">
                    <i [class]="bilanitem.iconclass"></i>
                </div>
                <div  class="col-xs-8">
                    {{bilanitem.name}}
                </div>
                <br>
                <div class="col-xs-10">
                    {{bilanitem.message}}
                </div>
            </div>
        </div>
    </div>
</div>
