<div class="ldb_elementbackground">
    <table class="jeconsultemonbilan_width100">
        <tr><td class="afairesoimeme jeconsultemonbilan_width50"><img [src]=beneficiaireurl></td><td class="afaireavecuntemoin"><img [src]=temoinurl></td></tr>
        <tr><td class="afairesoimeme jeconsultemonbilan_width50">A faire moi-même</td><td class="afaireavecuntemoin">A faire avec un témoin</td></tr>
    </table>
    <div *ngFor="let items of this.bilanservice.levelitems">
        <div class="jeconsultemonbilan_container">
            <p-progressBar class="jeconsultemonbilan_absolute jeconsultemonbilan_behind jeconsultemonbilan"
            [showValue]="false" 
            [value]="items.beneficiairecount">
            </p-progressBar>
            <div (click)="activatemodule(items.formodule)" class="jeconsultemonbilan_absolute jeconsultemonbilan_infront">{{items.atext}}</div>
            <div *ngIf="this.currentmodule!=items.formodule" class="jeconsultemonbilan_freebutton"></div>
        </div>
        <div *ngIf="this.currentmodule==items.formodule" class="jeconsultemonbilan_item">
            <div *ngIf="this.bilanservice.bilanitemrepository_selected[items.formodule].beneficiaire.length>0" class="afairesoimeme ldb_elementtextbold">
                A faire soi-même: {{items.beneficiairecount}}%
            </div>
            <div *ngFor="let bilanitem of this.bilanservice.bilanitemrepository_selected[items.formodule].beneficiaire">
                <div *ngIf="bilanitem.message!=''">
                    <div class="jeconsultemonbilan_icon">
                        <i [class]="bilanitem.iconclass"></i>
                    </div>
                    <div  class="jeconsultemonbilan_name ldb_elementtextsmall">
                        {{bilanitem.name}}
                    </div>
                    <div class="jeconsultemonbilan_message ldb_elementtextsmall">
                        {{bilanitem.message}}
                    </div>
                </div>
            </div>
            <div *ngIf="this.bilanservice.bilanitemrepository_selected[items.formodule].temoin.length>0" class="afaireavecuntemoin ldb_elementtextbold">
                A faire avec un témoin: {{items.temoincount}}%
            </div>
            <div *ngFor="let bilanitem of this.bilanservice.bilanitemrepository_selected[items.formodule].temoin">
                <div *ngIf="bilanitem.message!=''">
                    <div class="jeconsultemonbilan_icon">
                        <i [class]="bilanitem.iconclass"></i>
                    </div>
                    <div  class="jeconsultemonbilan_name ldb_elementtextsmall">
                        {{bilanitem.name}}
                    </div>
                    <div class="jeconsultemonbilan_message ldb_elementtextsmall">
                        {{bilanitem.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
