<div class="ldb_elementbackground">
    <div class=" ldb_elementtext afairesoimeme ldb_white_space">
        <div class="afairesoimeme ldb_elementimagecontainer"><img [src]=beneficiaireurl></div>
        <div class="ldb_elementtextbold">Travail à faire moi-même :</div>
        <div class="ldb_bilan_container ldb_bilan">
            <p-progressBar class="ldb_bilan_progressbar"
            [showValue]="false" 
            [value]="this.bilanservice.bilan_percentage.beneficiaire.allmodules">
            </p-progressBar>
            <div class="ldb_bilan_infront">{{this.bilanservice.bilan_items.beneficiaire.label[this.bilanservice.bilan_current.beneficiaire.allmodules]}}</div>
        </div>
        <div class="ldb_aftercontainer"></div>
        <div class=" ldb_elementtextsmall">{{this.bilanservice.bilan_items.beneficiaire.message[this.bilanservice.bilan_current.beneficiaire.allmodules]}}</div>
    </div>
</div>