<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 minwidthmobile">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-top-padding section-top-color">
        <app-section-top></app-section-top>
    </div>

    <div class="menubarspecial col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <app-section-topmenu></app-section-topmenu>
    </div>
    
    <router-outlet></router-outlet>
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs-down">
        section_footer
    </div>

</div>
