.minwidthmobile {
    min-width: 320px;
}

.menubarspecial {
    min-height: 80px;
    clear:both;
    padding-top: 1em;
}

.section-top-padding {
    padding:3px 0px 10px 0px;
}

.section-top-color {
    color:#5AF    
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}