<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-title class="col-lg-8 col-md-8 col-sm-8 col-xs-12"></app-title>
        <app-connect class="col-lg-4 col-md-4 col-sm-4 hidden-xs-down"></app-connect>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        section_topmenu
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4">
        section_bottommenu
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">
        section_main
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        section_footer
    </div>

</div>
