<div class="ldb_elementbackground">
    <div class="ldb_elementtextbold ldb_elementtext">
        Bonjour {{ this.dbuserinfoservice.userinfo.publicinfo.firstname }} !
    </div>
    <div class="ldb_elementtextregular ldb_elementtext">
        Mes 4 étapes de la rencontre déclic :
    </div>
    <table class="ldb_table_separation_3 ldb_table_center minwidthmobiletable">
        <tr *ngFor="let items of this.navigationservice.monplanningitems">
            <td><i [class]="items.iclass"></i></td>
            <td><a [routerLink]="items.route" [class]="items.aclass">{{ items.atext }}</a></td>
        </tr>
    </table>
</div>
<div class="ldb_elementbackground">
    <div class="ldb_elementtextbold ldb_elementtext">
        {{ this.navigationservice.monplanningnexttask.title}}
    </div>
    <div class="ldb_elementsinglebutton">
        <a [routerLink]="this.navigationservice.monplanningnexttask.item.route" [class]="this.navigationservice.monplanningnexttask.item.aclass">{{ this.navigationservice.monplanningnexttask.item.atext }}</a>
    </div>
</div>
