<div>
    <div class="floatright">
        Qui sommes-nous ?    
    </div>
    <div class="floatright">
        &nbsp;|&nbsp;
    </div>
    <div class="floatright">
        <div *ngIf="authService.isAuthenticated()">
            <a (click)="authService.signOut()">
                Se déconnecter
            </a>        
        </div>
        <div *ngIf="!authService.isAuthenticated()">
            <a [routerLink]="['/signinup']">
                Se connecter
            </a>        
        </div>
    </div>
</div>
