<div *ngIf="authService.isAuthenticated()">
    <a (click)="signOut()">
        Se déconnecter
    </a>        
</div>
<div *ngIf="!authService.isAuthenticated()">
    <a [routerLink]="['/signinup']">
        Se connecter
    </a>        
</div>

<p-confirmDialog header="Se déconnecter" icon="fa fa-question-circle" width="270" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Non" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Oui" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>