<div class="questioncaption">
    <div class="questionitself">
        {{ questioncaption }}
    </div>
    <div class="buttonbar">
        <button class="btn btn-info btn-sm" (click)="instructionpanelhidden=!instructionpanelhidden">
            <i class="fa fa-question" aria-hidden="true"></i>
        </button>
        <button [hidden]="checkbuttonhidden" class="btn btn-success btn-sm" (click)="this.gotonextcard()"
            placement="bottom" ngbTooltip="{{checkbuttontooltiptext}}" #checkbuttontooltip="ngbTooltip" triggers="manual">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
        <button [hidden]="!checkbuttonhidden" class="btn ldb_btn_disabled btn-sm">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div #instructionpanel [hidden]="instructionpanelhidden" class="instructionpanel">
    <div>
        {{ instruction }}
    </div>
    <div class="ldb_elementsinglebutton">
        <button class="btn ldb_btn_small ldb_btn_primary" (click)="instructionpanelhidden=!instructionpanelhidden">J'ai compris</button>
    </div>
</div>
<ng-template dir-cardset></ng-template>