<div class="questioncaption">
    <div class="questionitself">
        {{ questioncaption }}
    </div>
    <div class="buttonbar">
        <button class="btn btn-info btn-sm" (click)="instructionpanelvisible=!instructionpanelvisible">
            <i class="fa fa-question" aria-hidden="true"></i>
        </button>
        <button class="btn btn-success btn-sm" (click)="this.gotonextcard()">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div #instructionpanel [hidden]="instructionpanelvisible" class="instructionpanel">
    <div>
        {{ instruction }}
    </div>
    <div class="ldb_elementsinglebutton">
        <button class="btn ldb_btn_small ldb_btn_primary" (click)="instructionpanelvisible=!instructionpanelvisible">J'ai compris</button>
    </div>
</div>
<ng-template dir-cardset></ng-template>  