<div class="parent">
    <div class="cadre-short">

    </div>
    <div class="rond">
        
    </div>
    <div class="cadre-long">

    </div>
    <div>
        <i class="arrow fleche" (click)="tagueule()"></i>
    </div>

</div>
<div class="viewport-clip">
    <div class="viewport" id="scrollablecontainer" (scroll)="tryme($event)">
        <div class="horizontal">

            <div *ngFor="let menuitem of menuitems" class="item"><div class="itemtext">{{ menuitem.title }}</div></div>
           

        </div>
    </div>
</div>