<div class="clearboth">
    <div class="parent">
        <div class="cadre-short">
            <img [src]=logourl>
        </div>
        <div class="rond" (click)="setpositionwithtitle('Se connecter')">
            
        </div>
        <div class="cadre-long">

        </div>
        <div>
            <i id="flechedroite" class="arrow fleche" (click)="setpositiontonextitem($event)"></i>
        </div>

    </div>
    <div class="viewport-clip">
        <div class="viewport" id="scrollablecontainer" (scroll)="autoposition($event)">
            <div class="horizontal" >

                <div *ngFor="let menuitem of menuitems" class="item" id="itemholder">
                    <div class="itemtext"  #itemtexts id="itemtext{{menuitem.position}}" (click)="setpositiontoclickedtarget($event)">
                        {{ menuitem.title }}
                    </div>
                </div>
            

            </div>
        </div>
    </div>
</div>
