<div class="ldb_elementbackground">
    <div class="ldb_elementtextbold ldb_elementtext">
        Les actualités de Lunchtime ici !
    </div>
    <div class="ldb_elementtextregular ldb_elementtext">
        Soon...
    </div>
</div>
<div class="ldb_elementbackground" id="firebaseplayground">
    Let's play!
    <form #ffbplay='ngForm'>
        <div class="form_group">
            <label for="ffbplayref">ref</label>
            <input
                type="text"
                id="email"
                name="ffbplayref"
                ngModel
                class="form-control"
                required
                #ffbplayref="ngModel"
            >
        </div>
        <div class="form-group">
            <label for="ffbplaychild">Child</label>
            <input
                type="text"
                id="ffbplaychild"
                name="ffbplaychild"
                ngModel
                class="form-control"
                #ffbplaychild="ngModel"
            >
        </div>
        <div class="form-group">
            <label for="ffbplayvalue">Value</label>
            <input
                type="text"
                id="ffbplayvalue"
                name="ffbplayvalue"
                ngModel
                class="form-control"
                #ffbplayvalue="ngModel"
            >
        </div>
        <button class="btn btn-primary" (click)="ffbplaywrite(ffbplay)" [disabled]="!ffbplay.valid">Write</button>
        <button class="btn btn-primary" (click)="ffbplayread(ffbplay)" [disabled]="!ffbplay.valid">Read</button>
    </form>
</div>
