/* You can add global styles to this file, and also import other style files */

/* THIS STYLING SHEET IS USED WITCH VIEW ENCAPSULATION. As such, it is secondary to component-level styling*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* minwidthmobile --> horizontal min width (this variable is defined in several)    min-width: 320px;
*/

body{
    font-family: 'Noto Sans', sans-serif;
}

.minwidthmobile {
    min-width: 320px;
}

.minwidthmobiletable {
    min-width: 310px;
}


/* material icons extension */
i.mdi-ldb-done {
    color:#00AA00;
}

i.mdi-ldb-notdone {
    color:#AA0000;
}

i.mdi-ldb-todo {
    color:#EE0000;
}

i.mdi-ldb-inprogress {
    color:#FFAA00;
}

i.mdi-ldb-unavailable {
    color:#FFFFFF;
}

i.mdi-ldb-primary {
    color:#3AF;
}

/* */

.ldb_button {

}

/* grey background */
.ldb_elementbackground {
    background:#EEE;
    width:100%;
    padding:10px 5px;
    margin:10px 0px;
}

/* This is an element with one button in the middle */
.ldb_elementsinglebutton {
    margin: 0px 10%;
}
/* bold  title of element */

.ldb_elementtext {
    white-space: nowrap;
    text-align: center;
}

.ldb_elementtextbold {
    font-weight: bold;
    font-size: medium;
    padding-bottom: 10px;
}

/* Text element in module */
.ldb_elementtextregular {
    font-weight: normal;
    font-size: medium;
    padding:10px 0px;
}

/* Text element in module */
.ldb_elementtextsmall {
    font-weight: normal;
    font-size: small;
    padding:10px 0px;
}

/* Je veux en savoir plus : */

.ldb_elementcommenttext {
    font-weight: normal;
    font-style:italic;
    font-size: small;
    white-space: normal;
    text-align: left;
    padding:0px;
    letter-spacing: -.5px;
    color: #777;
}

.ldb_elementcommenttext > hr {
    margin-bottom:0px;
    margin-top: 5px;
}


/* White circle element in enumerations */
.ldb_circle {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width:0px;
    height:0px;
    border-style:solid;
    border-width:30px;
    border-color:rgba(255, 255, 255, 1);
    position: absolute;   
    color: rgb(0,0,0);
}

/* Instruction element: "à voud de jouer, à vous de..." */

table.ldb_instruction, 
table_ldb_instruction > td,
table_ldb_instruction > td > tr {
    border-collapse: collapse;
    border: none;
}

table.ldb_instruction > td:first-child > tbody > tr {
    min-width : 30px;
}

table.ldb_instruction > td:first-child > tbody > tr > i{
    min-width : 30px;
    color:red;
}

table.ldb_instruction > td:last-child > tbody > tr{
    width : 100%;
    color:red;
    font-style: italic;
}

.ldb_elementnavbutton {
    width: 100% ;
}

.ldb_elementnavbutton_side {
    width: 15% !important;
}

.ldb_elementnavbutton_middle {
    width: 67% !important;
}

.ldb_white_space {
    width:98%;
    background-color: white;
    margin: 0px auto;
    padding: 0px 5px;
    border-radius: 3px
}

.ldb_font_333 {
    color:#333;
}

.ldb_minimal {
    font-size:smaller;
}

table.ldb_table_separation_3 > tbody > tr > td {
    padding:3px;
}

table.ldb_table_center {
    margin:0px auto ;
}

table.ldb_table_alignleft > td > tbody > tr {
    text-align: left;
}

/* FORM VALIDATION */

input.ng-invalid.ng-touched {
    border-color: #C00;
    background: #FEE;
}


/* PrimeFaces EXTENSION */

/*
.ui-widget{
    background: transparent;
}
*/

.ldbway .ui-growl {
    position: fixed;
    top: 30%;
    margin: 0 auto;
    max-width: 20em;
    width: 90%;
}

.ldbway .ui-tabview {
    padding:0px;
    background: transparent;
}

.ldbway .ui-tabview-panel {
    background:#FFF !important;
}

.ldbway .ui-tabview.ui-tabview-top > .ui-tabview-nav {
    padding:0px;
    background: transparent;
}

.ldbway .ui-widget {
    font-family:inherit;
}

.ldbway .ui-messages-error {
    margin: 5px auto;
    text-align: center;
}

.ldbway .ui-dialog {
    box-shadow: 0 1px 300px 0 rgba(0,0,0,1);
    min-width: 300px;
}

.ldbway .ui-dialog-titlebar {
    padding: 5% 5% !important;
    text-align: center;
}

.ldbway .ui-dialog-titlebar-close {
    position: absolute;
    top: 5%;
    right: 2%;
}

.ldbway .ui-dialog-buttonpane {
    border: 0px;
    margin: 0px 50px;
}

.ldbway .ui-dialog-footer {
    border: 0px;
}

.ldbway .ui-progressbar {
    height: 5px;
    border:none;
    background: #EEF;
}

/* BOOTSTRAP EXTENSION - BUTTON COLORS */

.ldb_btn {
    white-space: normal;
    padding: 5px;
    min-height: 50px;
    width:100%;
}

.ldb_btn_small {
    white-space: normal;
    padding: 3px 10px;
    width:100%;
    font-size: small;
}

.ldb_btn_primary{
    background: #BDF5;
    border-color: #BDF5;    
    color:#333;
}

.ldb_btn_white {
    background: #FFF;
    border-color: #FFF;
    color:#555 !important;
}

.ldb_btn_done {
    background: #0F05;
    border-color: #0A05;
    color:#333 !important;
}

.ldb_btn_notdone {
    background: #A005;
    border-color: #5005;
    color:#333 !important;
}

.ldb_btn_todo {
    background: #F005;
    border-color: #A005;
    color:#333 !important;
}

.ldb_btn_inprogress {
    background: #FA05;
    border-color: #A505;
    color:#333 !important;
}

.ldb_btn_unavailable
 {
    background: #5555;
    border-color: #AAA;
    color:#FFF !important;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 17px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}