/* You can add global styles to this file, and also import other style files */

/* THIS STYLING SHEET IS USED WITCH VIEW ENCAPSULATION. As such, it is secondary to component-level styling*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* minwidthmobile --> horizontal min width (this variable is defined in several)    min-width: 320px;
*/

body{
    font-family: 'Noto Sans', sans-serif;
}

.minwidthmobile {
    min-width: 320px;
}

.minwidthmobiletable {
    min-width: 310px;
}

.maxwidthmobile, img.maxwidthmobile {
    width:320px;
}

/* */

.card-heap {
    box-shadow: none !important;
}

/* material icons extension */
i.mdi-ldb-done {
    color:#00AA00;
}

i.mdi-ldb-notdone {
    color:#AA0000;
}

i.mdi-ldb-todo {
    color:#EE0000;
}

i.mdi-ldb-inprogress {
    color:#FFAA00;
}

i.mdi-ldb-available {
    color:#05F5;
}

i.mdi-ldb-unavailable {
    color:#FFFFFF;
}

i.mdi-ldb-primary {
    color:#3AF;
}


/* grey background */
.ldb_elementbackground {
    background:#EEE;
    width:100%;
    padding:10px 5px;
    margin:10px 0px;
}
.ldb_elementframe {
    background: #EEE;
    border: 1px solid white;
    text-align: center;
    width: 95%;
    margin: 2% 2%;
    padding: 2% 2%;
}

/* This is an element with one button in the middle */
.ldb_elementsinglebutton {
    margin: 5px 10%;
}
/* bold  title of element */

.ldb_elementtext {
    text-align: center;
}

.ldb_elementtextleft {
    text-align: left;
}

.ldb_elementtextnowrap{
    white-space: nowrap;
}

.ldb_elementtextbold {
    font-weight: bold;
    font-size: medium;
    padding-bottom: 10px;
}

/* Text element in module */
.ldb_elementtextregular {
    font-weight: normal;
    font-size: medium;
    padding:10px 0px;
}

/* Text element in module */
.ldb_elementtextsmall {
    font-weight: normal;
    font-size: small;
    padding:10px 0px;
}

.ldb_yesnobutton {
    font-size: small;
    text-align: center;
}

/* Texts colorés */
.ldb_elementtextred {
    color: red;
}

.ldb_elementtextgreen {
    color: green;
}

.ldb_elementtextblue {
    color: blue;
}

/* Je veux en savoir plus : */

.ldb_elementcommenttext {
    font-weight: normal;
    font-style:italic;
    font-size: small;
    white-space: normal;
    text-align: left;
    padding:0px;
    letter-spacing: -.5px;
    color: #777;
}

.ldb_elementcommenttext > hr {
    margin-bottom:0px;
    margin-top: 5px;
}

.ldb_elementcongratulationsicon {
    text-align: center;
    color:green    
}

/* TASKS for yourself and with temoin */

.afairesoimeme{
    color: #55F;
    text-align: center;
}

.afaireavecuntemoin {
    color: blueviolet;
    text-align: center;
}

.ratiobeneficiairetemoin {
    color: #999;
    text-align: center;
}

.disqualify {
    color: #AA0000;
    text-align: center;
}

/* Image element */

.ldb_elementimagecontainer {
    width : 100%;
    padding-top:1%;
}

/* White circle element in enumerations */
.ldb_circle {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width:0px;
    height:0px;
    border-style:solid;
    border-width:30px;
    border-color:rgba(255, 255, 255, 1);
    position: absolute;   
    color: rgb(0,0,0);
}

/* Instruction element: "à voud de jouer, à vous de..." */

table.ldb_instruction, 
table_ldb_instruction > td,
table_ldb_instruction > td > tr {
    border-collapse: collapse;
    border: none;
}

table.ldb_instruction > td:first-child > tbody > tr {
    min-width : 30px;
}

table.ldb_instruction > td:first-child > tbody > tr > i{
    min-width : 30px;
    color:red;
}

table.ldb_instruction > td:last-child > tbody > tr{
    width : 100%;
    color:red;
    font-style: italic;
}

.ldb_elementnavbutton {
    width: 100% ;
}

.ldb_elementnavbutton_side {
    width: 15% !important;
}

.ldb_elementnavbutton_middle {
    width: 67% !important;
}

.ldb_white_space {
    width:98%;
    background-color: white;
    margin: 0px auto;
    padding: 0px 5px;
    border-radius: 3px
}

.ldb_font_333 {
    color:#333;
}

.ldb_minimal {
    font-size:smaller;
}

/* BILAN COMPONENTS */

.ldb_bilan_container {
    position: relative;
}

.ldb_aftercontainer {
    height: 1.4em;    
}

.ldb_bilan_progressbar {
    position: absolute;
    left:5%;
    width: 90%;
    z-index: 1;
}

.ldb_bilan_infront {
    position: absolute;
    left:5%;
    width:90%;
    font-size:small;
    z-index: 2;
    text-align:center;
}

table.ldb_table_separation_3 > tbody > tr > td {
    padding:3px;
}

table.ldb_table_center {
    margin:0px auto ;
}

table.ldb_table_alignleft > td > tbody > tr {
    text-align: left;
}

/* FORM VALIDATION */

input.ng-invalid.ng-touched {
    border-color: #C00;
    background: #FEE;
}


/* PrimeFaces EXTENSION */

/*
.ui-widget{
    background: transparent;
}
*/

.ldbway .ui-growl {
    position: fixed;
    top: 30%;
    margin: 0 auto;
    max-width: 20em;
    width: 90%;
}

.ldbway .ui-tabview {
    padding:0px;
    background: transparent;
}

.ldbway .ui-tabview-panel {
    background:#FFF !important;
}

.ldbway .ui-tabview.ui-tabview-top > .ui-tabview-nav {
    padding:0px;
    background: transparent;
}

.ldbway .ui-widget {
    font-family:inherit;
}

.ldbway .ui-messages-error {
    margin: 5px auto;
    text-align: center;
}

.ldbway .ui-dialog {
    box-shadow: 0 1px 300px 0 rgba(0,0,0,1);
    min-width: 300px;
}

.ldbway .ui-dialog-titlebar {
    padding: 5% 5% !important;
    text-align: center;
}

.ldbway .ui-dialog-titlebar-close {
    position: absolute;
    top: 5%;
    right: 2%;
}

.ldbway .ui-dialog-buttonpane {
    border: 0px;
    margin: 0px 50px;
}

.ldbway .ui-dialog-footer {
    border: 0px;
}

.ldbway .ui-progressbar {
    height: 5px;
    border:none;
    background: #EEF;
}

/* Je consulte mon bilan - PrimeNG customization */

.jeconsultemonbilan .ui-progressbar {
    background:#CAF !important;
    height: 2.5em;
}

.jeconsultemonbilan .ui-tabview-panel {
    padding:1% !important;
}

.ldb_bilan .ui-progressbar {
    height: 1.4em;    
}

.ldb_bilan_temoin .ui-progressbar-value {
    background:#CAF !important;
}

.ldb_bilan_ratio .ui-progressbar-value {
    background:#DDD !important;
}

/* BOOTSTRAP EXTENSION - BUTTON COLORS */

.ldb_btn {
    white-space: normal;
    padding: 5px;
    min-height: 50px;
    width:100%;
}

.ldb_btn_small {
    white-space: normal;
    padding: 3px 10px;
    width:100%;
    font-size: small;
    margin: 5px 0;
}

.ldb_btn_next{
    text-align: center;
    width: 100%;
    font-size: x-large;
    background: #EEE;
    border-radius: 5px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}    

.ldb_btn_next:hover{
    background: #CCC;
}

.ldb_btn_primary{
    background: #BDF5;
    border-color: #BDF5;    
    color:#333;
}

.ldb_btn_white {
    background: #FFF;
    border-color: #FFF;
    color:#555 !important;
}

.ldb_btn_done {
    background: #0F05;
    border-color: #0A05;
    color:#333 !important;
}

.ldb_btn_notdone {
    background: #A005;
    border-color: #5005;
    color:#333 !important;
}

.ldb_btn_todo {
    background: #F005;
    border-color: #A005;
    color:#333 !important;
}

.ldb_btn_available {
    background: #05F5;
    border-color: #0095;
    color:#333 !important;
}

.ldb_btn_inprogress {
    background: #FA05;
    border-color: #A505;
    color:#333 !important;
}

.ldb_btn_unavailable
 {
    background: #5555;
    border-color: #AAA;
    color:#FFF !important;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 17px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

/* QUIZZ FORMATTING */
.csmultiplechoice_buttoncontainer {
    width:95%;
}

.csmultiplechoice_afterbuttoncontainer {
    clear:both;
    float:none;
}

.csmultiplechoice_buttonitem {
    width: 48%;
    margin: 1% 1%;
    float: left;
    text-align: center;
    border-radius: 5px;
    line-height: 1.5em;
    min-height: 5.5em;
    padding: 2% 2%;
    border-radius: 5px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.unselected1 {
    background: rgb(150,255,255);
    color:#292b2c;
}
.unselected1:hover {
    box-shadow: 1px 1px 12px #599;
}

.unselected2 {
    background: rgb(255,150,255);
    color:#292b2c;
}
.unselected2:hover {
    box-shadow: 1px 1px 12px #959;
}

.unselected3 {
    background: rgb(255,255,150);
    color:#292b2c;
}
.unselected3:hover {
    box-shadow: 1px 1px 12px #995;
}

.unselected4 {
    background: rgb(255,150,150);
    color:#292b2c;
}
.unselected4:hover {
    box-shadow: 1px 1px 12px #955;
}

.unselected5 {
    background: rgb(150,255,150);
    color:#292b2c;
}
.unselected5:hover {
    box-shadow: 1px 1px 12px #595;
}

.unselected6 {
    background: rgb(150,150,255);
    color:#292b2c;
}
.unselected6:hover {
    box-shadow: 1px 1px 12px #559;
}

.unselected7 {
    background: rgb(150,150,150);
    color:#292b2c;
}
.unselected7:hover {
    box-shadow: 1px 1px 12px #555;
}

.selected1 {
    background: rgb(50,150,150);
    color:#FFF;
    box-shadow:2px 2px 10px #055 inset;
    -moz-box-shadow:2px 2px 10px #055 inset;
    -webkit-box-shadow:2px 2px 10px #055 inset;
}

.selected2 {
    background: rgb(150,50,150);
    color:#FFF;
    box-shadow:2px 2px 10px #505 inset;
    -moz-box-shadow:2px 2px 10px #505 inset;
    -webkit-box-shadow:2px 2px 10px #505 inset;
}

.selected3 {
    background: rgb(150,150,50);
    color:#FFF;
    box-shadow:2px 2px 10px #550 inset;
    -moz-box-shadow:2px 2px 10px #550 inset;
    -webkit-box-shadow:2px 2px 10px #550 inset;
}

.selected4 {
    background: rgb(150,50,50);
    color:#FFF;
    box-shadow:2px 2px 10px #500 inset;
    -moz-box-shadow:2px 2px 10px #500 inset;
    -webkit-box-shadow:2px 2px 10px #500 inset;
}

.selected5 {
    background: rgb(50,150,50);
    color:#FFF;
    box-shadow:2px 2px 10px #050 inset;
    -moz-box-shadow:2px 2px 10px #050 inset;
    -webkit-box-shadow:2px 2px 10px #050 inset;
}

.selected6 {
    background: rgb(50,50,150);
    color:#FFF;
    box-shadow:2px 2px 10px #005 inset;
    -moz-box-shadow:2px 2px 10px #005 inset;
    -webkit-box-shadow:2px 2px 10px #005 inset;
}

.selected7 {
    background: rgb(50,50,50);
    color:#FFF;
    box-shadow:2px 2px 10px #000 inset;
    -moz-box-shadow:2px 2px 10px #000 inset;
    -webkit-box-shadow:2px 2px 10px #000 inset;
}

/* cardsetcontainer */

.instructionpanel {
    position: absolute;
    border-radius: 5px;
    background: rgba(255,255,255,0.9);
    box-shadow: 3px 3px 12px #000;
    width: 90%;
    margin: 2%;
    padding: 5%;
    z-index: 99;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;    
}

i.instructionbutton {
    margin-right:5%;
    vertical-align: middle;
    right:5%;
    line-height: 0px;
}

.questioncaption {
    height: 72px;
}

.questioncaptionleft {
    width:95%;
}

.questioncaptionright {
    min-width: 48px;
}

.swipecardcontainer {
    box-shadow:none !important;
}

.swipecard_1 {
    border-radius: 15px;
    width: 95%;
    margin: 2%;
    box-shadow: 3px 3px 12px #000;
}

.background_1 {
    background: #FEF;    
}

.background_2 {
    background: #FEE;    
}

.background_3 {
    background: #EEE;    
}

.background_4 {
    background: #FFE;    
}

.background_5 {
    background: #EFE;    
}



.gradient1 {
    display: initial;
    background: #007ef4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #007ef4 0%, #73b1e7 24%, #c0abdb 50%, #c84fd6 79%, #ff0558 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #007ef4 0%,#73b1e7 24%,#c0abdb 50%,#c84fd6 79%,#ff0558 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #007ef4 0%,#73b1e7 24%,#c0abdb 50%,#c84fd6 79%,#ff0558 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef4', endColorstr='#ff0558',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient2 {
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient3 {
    background: #aebcbf; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient4 {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f6e6b4 0%, #ed9017 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f6e6b4 0%,#ed9017 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f6e6b4 0%,#ed9017 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient5 {
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.swipecardbackground{

}

.swipecardoverlay{
    font-size: x-large;
    text-align: center;
    position: absolute;
    margin: 50% 5%;
}

.swipecardicon {
    font-size:200px;
}

.swipecardwhite {
    background:white;
}

.iconcontainer{
    text-align: center;
}

.swipecardbutton{
    text-align: center;    
}

.swipecardbuttonright{
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    height: 2rem;
    width: 50%;
    float: left;
}

.swipecardbuttonleft{
    float: left;
    width: 50%;
    height: 2rem;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.swipecardbuttonleft:hover{
    background:#FFBBBB;
}    

.swipecardbuttonright:hover{
    background:#BBFFBB;
}    

.swipecardbuttoncontainer{
    position: fixed;
    bottom: 5%;
    width: 100%;
}