<div class="ldb_elementbackground">
    <div class="ldb_elementtextbold ldb_elementtext">
        Mes invitations
    </div>
    <div *ngIf="this.meetingservice.meetings.countbystep.invitationsent>=this.meetingservice.meetingparameters.maxinvitations" class="ldb_elementtextred ldb_elementtextsmall">
        J'ai atteint le maximum d'invitations à envoyer. Je dois attendre la confirmation d'un témoin ou l'expiration d'une invitation.
    </div>
    <div *ngIf="this.meetingservice.meetings.countbystep.invitationsent<this.meetingservice.meetingparameters.maxinvitations" class="ldb_elementtextred ldb_elementtextsmall">
        Je peux encore envoyer {{(this.meetingservice.meetingparameters.maxinvitations - this.meetingservice.meetings.countbystep.invitationsent)}} {{this.commonservice.singulierpluriel((this.meetingservice.meetingparameters.maxinvitations - this.meetingservice.meetings.countbystep.invitationsent),"invitation","invitations")}}.
    </div>
</div>
<app-jenvoieuneinvitation></app-jenvoieuneinvitation>
<app-jeconsultemesinvitations></app-jeconsultemesinvitations>