.nowraptitle {
    white-space: nowrap;
    padding-right:0px;
    float: left;
}


.nowrapconnect {
    white-space: nowrap;
    padding-left:0px;
    position:absolute;
    right:15px;
}

.tothetop {
    padding-top:0px;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}

.clearboth {
    clear: both;
    height: 5px;
} 