.nowraptitle {
    white-space: nowrap;
    padding-right:0px;
    float: left;
}


.nowrapconnect {
    white-space: nowrap;
    padding-left:0px;
    position:absolute;
    right:15px;
}

.tothetop {
    padding-top:0px;
}